### https://learn.microsoft.com/en-us/azure/data-api-builder/concept/api/rest

@token = <token>

GET http://localhost:5000/api/sessions
Authorization: Bearer {{token}}

###

GET http://localhost:5000/api/sessions
Authorization: Bearer {{token}}
X-MS-API-ROLE: ConfAdmin